body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.logo h1 {
    color: white;
    margin: 15px;
    margin-inline: 70px;
    font-size: 40px;
}

header {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(46, 42, 49);
    height: 80px;
    top: 0;
}

a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

img {
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
}

#statement {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(56, 42, 63, 0.6)), url(images/sinkStatement.jpg);
    background-size: cover;
    height: 570px;
    color: white;
}

#statement h1 {
    font-size: 100px;
}

.sinkDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-inline: 100px;
}

.sinkImage {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

footer {
    background-color: #cccccc;
    text-align: center;
    padding: 10px;
}